# Node modules
node_modules/

# Build output
.next/
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Netlify
.netlify

# Optional npm cache directory
.npm

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# Coverage directory
coverage/

# Misc
*.log
*.tgz
*.gz
*.zip
*.rar
*.tar
